body {
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bg-gray {
    background-color: #e9ecef;
}

.bg-m {
    background-color: rgb(32, 56, 100);
}

.bg-w {
    background-color: rgb(255, 0, 0);
}

.text-w {
    color: rgb(255, 0, 0) !important;
}

.text-m {
    color: rgb(32, 56, 100) !important;
}

.card-list {
    background-color: violet;
}

.rounded-large {
    border-radius: 7px !important;
}

.progress {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0px;
}

.progress-bar {
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 0px;
}

li {
    border-radius: 7px !important;
}

.nav-pills .nav-link {
    color: rgba(33, 37, 41, 0.5);
}

.nav-pills .nav-link:hover {
    color: rgb(32, 56, 100) !important;
}

.nav-pills .nav-link.active {
    background-color: white;
    color: rgb(32, 56, 100) !important;
}

.habit-item:hover {
    cursor: pointer;
    margin-right: auto;
}

.circle {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background: red;
}

.pie_left, .pie_right {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

.left, .right {
    display: block;
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.pie_right, .right {
    clip: rect(0, auto, auto, 20px);
}

.pie_left, .left {
    clip: rect(0, 20px, auto, 0);
}

.mask {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 5px;
    top: 5px;
    background: #FFF;
    position: absolute;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
} 