body {
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bg-gray {
    background-color: #e9ecef;
}

.bg-m {
    background-color: rgb(32, 56, 100);
}

.bg-w {
    background-color: rgb(255, 0, 0);
}

.text-w {
    color: rgb(255, 0, 0) !important;
}

.text-m {
    color: rgb(32, 56, 100) !important;
}

.card-list {
    background-color: violet;
}

.rounded-large {
    border-radius: 7px !important;
}

.progress {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0px;
}

.progress-bar {
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 0px;
}

li {
    border-radius: 7px !important;
}

.nav-pills .nav-link {
    color: rgba(33, 37, 41, 0.5);
}

.nav-pills .nav-link:hover {
    color: rgb(32, 56, 100) !important;
}

.nav-pills .nav-link.active {
    background-color: white;
    color: rgb(32, 56, 100) !important;
}

.habit-item:hover {
    cursor: pointer;
    margin-right: auto;
}

.circle {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background: red;
}

.pie_left, .pie_right {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

.left, .right {
    display: block;
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.pie_right, .right {
    clip: rect(0, auto, auto, 20px);
}

.pie_left, .left {
    clip: rect(0, 20px, auto, 0);
}

.mask {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 5px;
    top: 5px;
    background: #FFF;
    position: absolute;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

@media (min-width: 992px) {
    .layout-nav-side {
        display: flex;
    }
    .layout-nav-side>.navbar {
        padding: 1.5rem;
        width: 264px;
        height: 100vh;
        overflow-y: scroll;
        -ms-overflow-style: none;
        flex-direction: column;
        align-items: flex-start;
    }
    .layout-nav-side>.navbar::-webkit-scrollbar {
        display: none;
    }
    .layout-nav-side>.navbar .navbar-brand {
        margin-bottom: 3rem;
    }
    .layout-nav-side>.navbar .navbar-collapse {
        align-items: flex-start;
        width: 100%;
        flex-shrink: 0;
        padding-bottom: 1.5rem;
    }
    .layout-nav-side>.navbar .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .layout-nav-side>.navbar .nav-link {
        padding-left: 0;
    }
        .layout-nav-side>.navbar .navbar-footer{
        padding-left: 0;
    }
    .layout-nav-side .main-container {
        overflow: hidden;
        flex: 1;
        max-width: calc(100vw - 264px);
    }
    .layout-nav-side .main-container>.container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .layout-nav-side .content-container {
        display: flex;
        height: calc(100vh - 3.5625rem);
    }
    .layout-sidebar .main-container {
        display: flex;
        flex-direction: row-reverse;
        height: calc(100vh - 59px);
        overflow: hidden;
    }
    .layout-sidebar .main-container .content-container {
        height: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;
        flex: 1;
    }
    .layout-sidebar .main-container .content-container::-webkit-scrollbar {
        display: none;
    }
    .layout-sidebar .main-container .content-container>.container:last-child {
        padding-bottom: 4.5rem;
    }
}