{% block styles %}
<script type="text/javascript" src="{{ url_for('static', filename='js/habit_charts.js')}}"></script>
{% endblock styles %}
<div class="">
    <h3>Charts </h3>
</div>
<div class="card bg-gray mb-3 border-0 rounded-large">
    <div class="card-body  pt-2 pb-0 pl-2 pr-2">
        <div class="pl-3 pt-2 pr-4">
            <h5> 历史数据 </h5>
        </div>
        <div class="card mb-2 border-0 rounded-large">
            <div class="card-body">
                <div id="history-chart" style="width: 100%;height:400px;"></div>
            </div>
        </div>
        <div class="pl-4 pt-2 pr-4">
            <h5> 分类数据 </h5>
        </div>
        <div class="container ">
            <div class='row'>
                <div class="card col-sm-6">
                    <div class="card-body">
                        <div id="category-chart" style="width: 100%;height:400px;"></div>
                    </div>
                </div>
                <div class="card col-sm-6">
                    <div class="card-body">
                        <div id="habit-chart" style="width: 100%;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>