{% block styles %}
<script type="text/javascript" src="{{ url_for('static', filename='js/habit_list.js')}}"></script>
{% endblock styles %}
<div class=" d-flex justify-content-between ">
    <h3>
        Habits
        <button class="btn rounded-circle bg-light" id="add-new-habit-btn" onclick="habitList.showNewHabitForm()">
            <i class="fa fa-plus"></i>
        </button>

    </h3>
</div>
{% for category in categorys%}
{% if category.habits | length > 0%}
<div class="card mb-3 border-0 rounded-large bg-gray">
    <div class="pl-3 pt-2 pr-3 pb-0">
        <div class="d-flex justify-content-between">
            <h5>{{category.name}}</h5>
            <div class="pr-1">
                <i class="fa fa-check-square-o"></i>
                <small id="{{category.name}}_done_cnt">{{ category.done_cnt() }}/{{category.habits | length}}</small>
            </div>
        </div>
    </div>
    <div class="card-body pt-2 pb-0 pl-2 pr-2">
        {% for habit in category.habits %}
        {% include 'habit_item.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endfor %}