{% extends 'base.html' %}
{% block content %}

<form method="POST" class="">
    <img class="mb-4" src="./Signin Template · Bootstrap_files/bootstrap-solid.svg" alt="" width="72" height="72">
    {{ checklist.csrf_token }}
    {% for item in checklist %}
    {% if item.type == 'BooleanField' %}
    <div class="form-check  card rounded-lg border mb-3">
        <div class="card-body">
            {{ item(class='form-check-input') }}{{item.label}}
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {{ checklist.submit(class='btn btn-lg btn-primary btn-block')}}
</form>
{% if session.filenames %}
{% for filename in session.filenames %}
<a href="{{ url_for('get_file', filename=filename) }}" target="_blank">
    <img src="{{ url_for('get_file', filename=filename) }}">
</a>
{% endfor %}
{% endif %}
{% endblock %}